body {
	background-color:#79F784;
}

h1 {
	color: #E6399E;
	font-weight: bold;
}

h2 {
	color:#E6399E;
	font-weight: bold;
}

h3 {
	color:#E6399E;
	font-weight: bold;
}

a {
	color:#E6399E;

}

p {
	color:#313238;
	font-weight: bold;
}

@font-face {
	font-family:animals;
	src: url(../fonts/animals.ttf);
}


h4 {
	font-family:animals;
	font-size: 56px;
}

.logo {
	width: 100px;
	height:auto;
}

#bannercaption {
	width: 600px;

}

#logo {
	width:100px;
	height:auto;
}

#bathroom {
	width:100px
	height:auto; 
}

.table-bordered {
	color:#313238;
	background-color: white;

}
