html, body {
	  		background-color: #333;
	  		color: #C8C8C8 ;
	  		text-align: center;
		}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 }

