html, body {
	  		background-color: #333;
	  		color: #C8C8C8 ;
	  		text-align: center;
		}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { 
	color: #000 
}

#blogSize {
	width: 500px;
	height: 500px;
}



@font-face {
	font-family:bellerose;
	src: url(../fonts/Bellerose.ttf);
}


h1 {
	font-family:bellerose;
	font-size: 64px;
}

h2 {
	font-family:bellerose;
	font-size: 46px;
}

h4 {
	font-family:bellerose;
	font-size: 30px;
}

a {
	font-family:bellerose;
	font-size: 20px;
}

p {
	font-family:bellerose;
	font-size: 20px;
}


table,tr,th,td { 
	border: 1px #ffffff solid; text-align:left;
}

