html, body {
	  		background-color: #ffffff;
	  		color: #333 ;
	  		text-align: center;
		}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { 
	color: #333 
}





@font-face {
	font-family:bellerose;
	src: url(../fonts/Bellerose.ttf);
}


h1 {
	font-family:bellerose;
	font-size: 64px;
}

h2 {
	font-family:bellerose;
	font-size: 46px;
}

h4 {
	font-family:bellerose;
	font-size: 30px;
}

a {
	font-family:bellerose;
	font-size: 20px;
}

p {
	font-family:bellerose;
	font-size: 20px;
}




.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  background: #333;
  padding: 40px 40px 40px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #334ec0;
  text-decoration: none;
  color: #ffffff;
}